@if (Session["Logged"] != null)
{
    if (Session["Logged"].ToString().Equals("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["Logged"].ToString().Equals("Customer"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

@*displays soem random about text*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        This website was coded in a few sleepless nights throughout exams.
        <br />
        Stay tuned for lots of future improvements!
    </div>
</body>
</html>
